In [1]:
import pandas as pd

In [2]:
# Retrieve the dataset
path = "household_power_consumption.txt"

# Load the dataset into a dataframe
df = pd.read_csv(path, delimiter = ";", low_memory = False)

df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.430,4.000,0.000,0.000,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.000,4.000,0.000,0.000,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.820,3.800,0.000,0.000,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.700,3.800,0.000,0.000,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.550,3.800,0.000,0.000,0.0

In [3]:
# Print the length of the dataset
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 2075259
Number of columns: 9

In [4]:
# Look up the numer of missing values
print(df.isnull().sum())

Date                         0
Time                         0
Global_active_power          0
Global_reactive_power        0
Voltage                      0
Global_intensity             0
Sub_metering_1               0
Sub_metering_2               0
Sub_metering_3           25979
dtype: int64

In [6]:
# Drop rows with missing values
df = df.dropna()

# Fill remaining missing values with the mean of the column
# df[['Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']] = df[['Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']].fillna(df[['Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']].mean())

In [7]:
# Remove duplicates
df = df.drop_duplicates()

In [8]:
# Convert the date column to datetime object
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

# Split the DataFrame into three datasets based on the year
df_2007 = df[df['Date'].dt.year == 2007]
df_2008 = df[df['Date'].dt.year == 2008]
df_2009 = df[df['Date'].dt.year == 2009]

# Save each dataset to a separate file
df_2007.to_csv('dataset_2007.csv', index=False)
df_2008.to_csv('dataset_2008.csv', index=False)
df_2009.to_csv('dataset_2009.csv', index=False)